span.ingredient {
  color: #f00;
}
span.hidden {font-size: 0px;}
body{background-color: rgb(15, 15, 15)
;}

caption{ font-size: 20px;}

p{color: white;}


table {
  border: 1px solid rgb(255, 255, 255);
}

th,
td {
  border: 3px solid rgb(255, 255, 255);
}
details {
  border: 1px solid black;
  background-color: black;
  color: white;

}
